<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-sm="12" offset-md="3" style="padding:16px;">
        <h2 style="text-align:center">Bienvenido</h2>
        <p style="text-align:center">Por favor inicia sesión para continuar en la aplicación.</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item class="input-animated" #usernameItem>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input #usernameInput type="email" formControlName="email" autocomplete="email" (ionFocus)="onInputFocus('email')" (ionBlur)="onInputBlur('email')"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="email.invalid && (email.dirty || email.touched)" style="margin-left:16px">
          <span *ngIf="email.errors?.['required']">Debes ingresar un correo.</span>
          <span *ngIf="email.errors?.['email']">Ingresa un correo válido.</span>
        </ion-note>

          <ion-item class="input-animated" #passwordItem>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input #passwordInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" (ionFocus)="onInputFocus('password')" (ionBlur)="onInputBlur('password')"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="password.invalid && (password.dirty || password.touched)" style="margin-left:16px">
            <span *ngIf="password.errors?.['required']">Contraseña requerida.</span>
            <span *ngIf="password.errors?.['minlength']">Mínimo 6 caracteres.</span>
          </ion-note>

          <ion-button expand="block" type="submit" style="margin-top:16px">Ingresar</ion-button>
        </form>

        <ion-button expand="block" color="secondary" style="margin-top:8px" (click)="goToRegistrar()">Crear usuario</ion-button> <!--Boton para ir a la pagina registar-->
        <ion-button expand="block" color="tertiary" style="margin-top:8px" (click)="recoverPassword()">Recuperar contraseña</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
