<ion-app>
  <!-- Global side menu (hamburger menu) -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">Home</ion-item>
        <ion-item routerLink="/portada" routerDirection="root">Portada</ion-item>
        <ion-item routerLink="/categorias" routerDirection="root">Categorías</ion-item>
        <ion-item routerLink="/login" routerDirection="root">Login</ion-item>
        <ion-item routerLink="/sync-api" routerDirection="root">🔄 Sync API Demo</ion-item>
        <ion-item routerLink="/news" routerDirection="root">📰 Noticias</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
