<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong *ngIf="!username">Ready to create an app?</strong>
    <p *ngIf="!username">Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>

    <div *ngIf="username" style="padding:16px;">
      <h2>Bienvenido, {{ username }}</h2>
      <p>Has ingresado correctamente y tu usuario fue pasado desde Login.</p>
    </div>
  </div>
</ion-content>
